<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">User Panel</a>
    <div class="card "  *ngIf="userDetails">
      <ul class="list-group">
        <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
        </ul>
        </div>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav>
  <div class="container">

    <h3 class="d-flex justify-content-center">STOCK MARKET CHARTING </h3>
    
  
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="/home/userIpo"
        class="m-1 btn btn-light btn-outline-primary"  Button>View IPOs</button>
    </li>
    <li class="nav-item">
      <button routerLink="/home/usercompany"
      class="m-1 btn btn-light btn-outline-primary"  Button>View Company</button>
  </li>
        <li class="nav-item">
            <button routerLink="/home/comparecompany"
            class="m-1 btn btn-light btn-outline-primary"  Button>Compare Company</button>
        </li>
       
        <li class="nav-item">
            <button routerLink="/home/comparesector"
            class="m-1 btn btn-light btn-outline-primary"  Button>Compare Sector</button>
        </li>
      
        <li class="nav-item">
          <button routerLink="/home/profile"
          class="m-1 btn btn-light btn-outline-primary"  Button>Profile</button>
      </li>
    </ul>
    </nav>
  </div>
  
  <!--
  <div class="card m-5" style="width:18rem" *ngIf="userDetails">
    <ul class="list-group">
      <li class="list-group-item"><strong>Username : </strong>{{userDetails}}</li>
      <li class="list-group-item"><strong>FullName : </strong>{{userDetails.fullName}}</li>
      <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
    </ul>
  </div>
-->